absl-py
aiohttp
aiosignal
altair
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-timeout
attrs
babel
backcall
basemap
bleach
cachetools
certifi
cffi
charset-normalizer
click
colorama
cycler
debugpy
decorator
defusedxml
dill
docutils
entrypoints
filelock
flask
fonttools
frozenlist
gunicorn
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
json5
jsonschema
jupyter-client
jupyter-core
kiwisolver
Markdown
matplotlib
matplotlib-inline
mistune
multidict
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
platformdirs
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
pyzmq
qtconsole
QtPy
requests
requests-oauthlib
rsa
scikit-learn
scipy
Send2Trash
six
stack-data
statsmodels
sympy
terminado
tinycss2
tornado
traitlets
typing_extensions
urllib3
wcwidth
webencodings
websocket-client
widgetsnbextension
zipp
